name: Gitee repos mirror periodic job

on:
  push:
    branches:
      - main
      
jobs:
  sync_gitee:
    runs-on: ubuntu-latest
    steps:
    - name: Mirror the Github organization repos to Gitee.
      uses: Yikun/hub-mirror-action@master
      with:
        src: github/serverless-cd-demo
        dst: gitee/serverless-cd-demo
        dst_key: ${{ secrets.GITEE_PRIVATE_KEY }}
        dst_token: ${{ secrets.GITEE_TOKEN }}
        account_type: org
